<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Sistema RU</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>


  <header id="header">
    <div class="container">

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#sobreru">Sobre o RU</a></li>
          <li><a href="#services">Fila do RU</a></li>
          <li><a href="#portfolio">Cadastro Cardápio Vegetariano</a></li>
          <li><a href="#team">Cardápio</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="hero-container">
      <h1>Bem vindo ao Sistema RU</h1>
    </div>
  </section>

  <main id="main">

    <section id="sobreru">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Um pouco sobre o RU</h2>
            <p class="description">
              O Restaurante Universitário (RU) é parte integrante dos Programas de Assistência ao discente desenvolvido pela PROGEST/UFRPE. Tem como valores básicos: qualidade, valorização profissional, comprometimento e responsabilidade social. Sendo assim, seu principal objetivo é atender com qualidade, oferecer refeições a preços reduzidos aos discentes regularmente matriculados na UFRPE e proporcionar aos funcionários que compõe a equipe do restaurante um bom ambiente de trabalho.
              Oferece aos discentes, servidores técnicos-administrativos e docentes refeições de qualidade, tem capacidade de acomodar simultaneamente 482 usuários, e atende em média 1600 pessoas no horário do almoço e 1000 pessoas no jantar.
              Os cardápios dispõem de refeições em quatro categorias:</p>
            <p class="description">
              <p>1) Trivial</p>
              <p>2) Vegetariano</p>
              <p>3) Dieta</p>
              <p>4) Fast Grill.</p>
              Todo cardápio é planejado por nutricionistas, economistas domésticos e especialistas em gastronomia e segurança alimentar para atender o aporte calórico indicado para a população universitária.</p>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section>

    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Fila do RU</h3>
          <div class="form">
            <p class="section-description">Verifique a estimativa de pessoas que há na fila</p>
              <form action="" method="post" role="form" class="estimar">
                <div class="text-center"><button type="submit">Estimar</button></div>
              </form>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Cadastro Cardápio Vegetariano</h3>
          <p class="section-description">Realize o seu cadastro para acessar à fila destinada ao cardápio vegetariano</p>
          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessagecadastro">Cadastro realizado com sucesso!</div>
              <div id="errormessagecadastro"></div>
              <form action="" method="post" role="form" class="portfolioForm">
                <div class="form-group">
                  <input type="text" name="number" class="form-control" id="number" placeholder="Seu Número de Matrícula" data-rule="minlen:11" data-msg="Verifique se digitou corretamente o número de matrícula" />
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Cardápio</h3>
          <p class="section-description">Veja o cardápio da semana</p>
        </div>
       <div class="section-header">
         <h3 class="section-title">Almoço</h3>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <h4 class="title">Segunda</h4>
              <select class="form-control form-control-sm">
               <option> 02/12 </option>
                <option>PRATO PRINCIPAL 1 - FRANGO ASSADO À MODA DO CHEFE</option>
                <option>PRATO PRINCIPAL 2 - ISCA DE CARNE À BRASILEIRA(COM CALABRESA)</option>
                <option>NAGRELHA - FRANGO COM BATATA DOCE</option>
                <option>FAST GRILL - VIRADO PAULISTA</option>
                <option>VEGETARIANO - BOLONHESA DE LENTILHA COM TALHARIM</option>
                <option>GUARNIÇÃO - QUEBEBE/ARROZ/CHEIRO VERDE/FEIJÃO PRETO</option>
                <option>SALADA CRUA - ACELGA COM AGRIÃO E LARANJA</option>
                <option>SALADA COZIDA - BETERRABA COM CEBOLINHO</option>
                <option>SOBREMESA - MELANCIA</option>
                <option>SUCO - MANGA / LIMÃO</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <h4 class="title">Terça</h4>
              <select class="form-control form-control-sm">
                <option> 03/12 </option>
                <option>PRATO PRINCIPAL 1 - COPA LOMBO COM FRUTAS</option>
                <option>PRATO PRINCIPAL 2 - FRANGO COM CREME DE MILHO</option>
                <option>NAGRELHA - CARNE ASSADA COM LEGUMES E MACARRÃO INTEGRAL</option>
                <option>FAST GRILL - ESCONDIDINHO</option>
                <option>VEGETARIANO - ESTROGONOFE DE GRÃO DE BICO</option>
                <option>GUARNIÇÃO - REPOLHO GRATINADO/ARROZ COM MILHO/FEIJÃO CARIOCA</option>
                <option>SALADA CRUA - ALFACE COM RÚCULA E ABACAXI</option>
                <option>SALADA COZIDA - CENOURA COM VAGEM</option>
                <option>SOBREMESA - CHOCOLATE</option>
                <option>SUCO - GOIABA / UMBU</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <h4 class="title">Quarta</h4>
              <select class="form-control form-control-sm">
                <option> 04/12 </option>
                <option>PRATO PRINCIPAL 1 - PEITO DE FRANGO COM ERVILHAS</option>
                <option>PRATO PRINCIPAL 2 - CARNE ASSADA AO MOLHO FERRUGEM </option>
                <option>NAGRELHA - PEIXE COM ABOBRINHA E TOMATES EM CUBOS</option>
                <option>FAST GRILL - BAIÃO DE DOIS</option>
                <option>VEGETARIANO - TORTA DE LEGUMES VEGETARIANO</option>
                <option>GUARNIÇÃO - ESPAGUETE COM MOLHO PESTO/ARROZ COLORIDO/FEIJÃO PRETO</option>
                <option>SALADA CRUA - PEPINO COM TOMATE E MANJERICÃO</option>
                <option>SALADA COZIDA - BATATAS COM COUVE E CEBOLA ROXA</option>
                <option>SOBREMESA - MAMÃO </option>
                <option>SUCO - TANGERINA / CAJU </option>
              </select>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <h4 class="title">Quinta</h4>
              <select class="form-control form-control-sm">
               <option> 05/12 </option>
               <option>PRATO PRINCIPAL 1 - BIFE AO MOLHO MADEIRA</option>
                <option>PRATO PRINCIPAL 2 - PEIXE À ZÉ DO PIPO</option>
                <option>NAGRELHA - FRANGO GRELHADO COM PIMENTÕES</option>
                <option>FAST GRILL - QUICHE DE FRANGO</option>
                <option>VEGETARIANO - ACARAJÉ VEGETARIANO</option>
                <option>GUARNIÇÃO - ABÓBORA REFOGADA/ARROZ COM ERVILHAS/FEIJÃO CARIOCA</option>
                <option>SALADA CRUA - CENOURA/ACELGA/TOMATE/PASSAS</option>
                <option>SALADA COZIDA - ABOBRINHA COM PIMENTÕES COLORIDOS</option>
                <option>SOBREMESA - DOCE GOIABADA AÇUCARADO </option>
                <option>SUCO - UVA / ABACAXI COM HORTELÃ</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <h4 class="title">Sexta</h4>
              <select class="form-control form-control-sm">
                <option> 06/12 </option>
                <option>PRATO PRINCIPAL 1 - DOBRADINHA </option>
                <option>PRATO PRINCIPAL 2 - PEITO DE FRANGO COM PALHA </option>
                <option>NAGRELHA - BIFE GRELHADO COM CEBOLA(ACOMP. MACARRÃO INTEGRAL)</option>
                <option>FAST GRILL - CROQUETE DE FRANGO AO MOLHO ROSÉ</option>
                <option>VEGETARIANO - PANQUECA DE ESPINAFRE</option>
                <option>GUARNIÇÃO - FAROFA DOURADA/ARROZ BRANCO/FEIJÃO CARIOCA</option>
                <option>SALADA CRUA - VINAGRETE </option>
                <option>SALADA COZIDA - CHUCHU COM CENOURA E AZEITONAS</option>
                <option>SOBREMESA - BANANA</option>
                <option>SUCO - CAJÁ / ACEROLA</option>
              </select>

            </div>
          </div>
        </div>
        <p class="section-description"></p>
      <div class="section-header">
         <h3 class="section-title">Janta</h3>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <h4 class="title">Segunda</h4>
              <select class="form-control form-control-sm">
                <option> 02/12 </option>
                <option>PRATO PRINCIPAL 1 - PEITO DE FRANGO COM PALHA</option>
                <option>PRATO PRINCIPAL 2 - CARNE MOÍDA COM AZEITONAS</option>
                <option>NAGRELHA - ISCAS DE CARNE ACEBOLADA(ACOMP. MACAXEIRAO)</option>
                <option>VEGETARIANO - NUGGTES DE MILHO</option>
                <option>FAST GRILL - ...</option>
                <option>GUARNIÇÃO - CUSCUZ</option>
                <option>SOPA - SOPA DE CREME DE MACAXEIRA</option>
                <option>SALADA CRUA - TOMATE/CHICÓRIA/HORTELÃ</option>
                <option>SOBREMESA - MELANCIA</option>
                <option>SUCO - MANGA / LIMÃO</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <h4 class="title">Terça</h4>
              <select class="form-control form-control-sm">
                <option> 03/12 </option>
                <option>PRATO PRINCIPAL 1 - BIFE AO MOLHO FERRUGEM</option>
                <option>PRATO PRINCIPAL 2 - PEIXE À DELÍCIA</option>
                <option>NAGRELHA - FRANGO AO FORNO COM ERVAS(ACOMP. BATATA DOCE)</option>
                <option>VEGETARIANO - QUICHE DE ESPINAFRE</option>
                <option>FAST GRILL - PARMEGIANA DE FRANGO</option>
                <option>GUARNIÇÃO - ARROZ COLORIDO</option>
                <option>SOPA - SOPA CRIOULA(SEM MACARRÃO)</option>
                <option>SALADA CRUA - ALFACE COM PEPINO E GERGELIM</option>
                <option>SOBREMESA - CHOCOLATE</option>
                <option>SUCO - GOIABA / UMBU</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <h4 class="title">Quarta</h4>
              <select class="form-control form-control-sm">
                <option> 04/12 </option>
                <option>PRATO PRINCIPAL 1 - CARNE TAILANDESA(COM MOLHO ESCURO DE CURRY, SHOYU E PIMENTÕES)</option>
                <option>PRATO PRINCIPAL 2 - FRANGO ASSADO C/ PARMESSÃO</option>
                <option>NAGRELHA - BIFE COM PIMENTÕES</option>
                <option>VEGETARIANO - BOLINHO DE MACAXEIRA COM MOLHO</option>
                <option>FAST GRILL - CREPE</option>
                <option>GUARNIÇÃO - BATATA DOCE</option>
                <option>SOPA - SOPA DE LEGUMES</option>
                <option>SALADA CRUA - BETERRABA, ACELGA E CENOURA</option>
                <option>SOBREMESA - MAMÃO</option>
                <option>SUCO - TANGERINA / CAJU</option>
              </select>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <h4 class="title">Quinta</h4>
              <select class="form-control form-control-sm">
                <option> 05/12 </option>
                <option>PRATO PRINCIPAL 1 - FRANGO GRELHADO À PRIMAVERA</option>
                <option>PRATO PRINCIPAL 2 - ALMÔNDEGA AO MOLHO BARBECUE</option>
                <option>NAGRELHA - PEITO DE FRANGO COM ABÓBORA</option>
                <option>VEGETARIANO - NHOQUE VEGETARIANO</option>
                <option>FAST GRILL - LASANHA DE FRANGO</option>
                <option>GUARNIÇÃO - ESPAGUETE</option>
                <option>SOPA - CALDO VERDE</option>
                <option>SALADA CRUA - MIX DE FOLHAS COM REPOLHO ROXO</option>
                <option>SOBREMESA - DOCE GOIABADA AÇUCARADO</option>
                <option>SUCO - UVA / ABACAXI COM HORTELÃ</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <h4 class="title">Sexta</h4>
              <select class="form-control form-control-sm">
                <option> 06/12 </option>
               <option>PRATO PRINCIPAL 1 - CARNE DE SOL ACEBOLADA</option>
                <option>PRATO PRINCIPAL 2 - FRANGO AO MOLHO DE TOMATE COM MANJERICÃO</option>
                <option>NAGRELHA - PEIXE COM LIMÃO</option>
                <option>VEGETARIANO - BERINJELA À PARMEGIANA COM ESPAGUETE</option>
                <option>FAST GRILL - ...</option>
                <option>GUARNIÇÃO - MACAXEIRA</option>
                <option>SOPA - CREME DE ABÓBORA</option>
                <option>SALADA CRUA - TOMATE COM CEBOLA ROXA E ACELGA</option>
                <option>SOBREMESA - BANANA</option>
                <option>SUCO - CAJU / ACEROLA</option>
              </select>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contato</h3>
          <p class="section-description"></p>
        </div>
      </div>

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="social-links">
              <a href="https://twitter.com/ufrpeonline" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://pt-br.facebook.com/rudaufrpe/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/ufrpe/?hl=pt-br" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Mensagem enviada com sucesso!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" data-rule="minlen:4" data-msg="Digite pelo menos 4 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Entre com um email válido" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Digite pelo menos 8 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escreva algo" placeholder="Escreva sua mensagem"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
          </div>

       <div class="container wow fadeInUp">
          <div class="section-header">
          <p class="section-description"></p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d698.4186074208006!2d-34.95114241933297!3d-8.0141666696574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1a200c3aa819%3A0x5d2885454ca45b88!2sRU%20-%20Restaurante%20Universit%C3%A1rio%20da%20UFRPE!5e0!3m2!1spt-BR!2sbr!4v1574432502504!5m2!1spt-BR!2sbr" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
       </div>
        </div>
      </div>
    </section>

  </main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Sistema RU</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/waypoints/waypoints.min.js"></script>
  <script src="/static/lib/counterup/counterup.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>

  <script src="/static/contactform/contactform.js"></script>
  <script src="/static/portfolioform/portfolioform.js"></script>
  <script src="/static/estimar/estimar.js"></script>

  <script src="/static/js/main.js"></script>

</body>
</html>
